@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .no-highlight {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .scrollbar::-webkit-scrollbar {
        width: 10px;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background-color: #733B56;
        border-radius: 8px;
    }
    .scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid #733B56;
    }
    
}

* {
    transition: background-color 0.3s ease;
    font-family: 'Roboto Mono', monospace;
}

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: #733B56;
}
.dark *::-webkit-scrollbar-track {
    background-color: #1E200E;
}
.light *::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

h1, h2 {
    font-family: 'IBM Plex Mono', monospace;
}
